html {
}

header {
  background: grey;
}
.header-logo {
 max-height: 10vh;
 margin: 1rem 0 0 3rem;
}

nav {
  margin: 0;
  padding: 1rem 1rem 0 3rem;
  display: flex;
}

.nav-item {
  margin-left: 1rem;
  background: lightgrey;
  border: 1px black solid;
  border-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  box-shadow: 0.25rem -0.2rem 0.2rem rgba(0.1, 0.1, 0.1, 0.4);
  cursor: pointer;
}
.nav-item:first-of-type {
  margin-left: 0;
}

.active {
  background: white;
}

/*

  Sign Up form

 */

.body-content {
  padding-top: 5rem;
}
 .sign-up-form {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
.textfield {
  width: 30rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
}
.textfield:first-of-type {
  margin: 0;
}

.submit-button {
  font-size: 2rem;
  border-radius: 1.5rem;
  min-width: 15rem;
  margin-top: 1rem;
  cursor: pointer;
}

/*

  Footer

 */

footer {
}
