/*

  Sign Up form

 */

.body-content {
  padding-top: 5rem;
}
 .sign-up-form {
   margin: 0 auto;
   display: flex;
   width: 30%;
   flex-direction: column;
   align-items: center;
 }
.textfield {
  text-align: center;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 1.5rem;
  margin-top: 1rem;
}
.textfield:first-of-type {
  margin: 0;
}

.submit-button {
  font-size: 2rem;
  border-radius: 1.5rem;
  min-width: 15rem;
  margin-top: 1rem;
  cursor: pointer;
}

/*

  Footer

 */

footer {
}
